In [1]:
import pandas as pd
from datetime import datetime

In [2]:
custom_date_parser = lambda x: datetime.strptime(x, "%YM%m")

data = pd.read_excel('CMO-Historical-Data-Monthly.xlsx', sheet_name='Monthly Prices', header=6, index_col=0, na_values="…", date_parser=custom_date_parser, parse_dates=[0])

Description
Index Weights
Monthly Indices
Monthly Prices

In [3]:
data.head()

,CRUDE_PETRO,CRUDE_BRENT,CRUDE_DUBAI,CRUDE_WTI,COAL_AUS,COAL_SAFRICA,NGAS_US,NGAS_EUR,NGAS_JP,iNATGAS,...,ALUMINUM,IRON_ORE,COPPER,LEAD,Tin,NICKEL,Zinc,GOLD,PLATINUM,SILVER
1960-01-01,1.63,1.63,1.63,NaN,NaN,NaN,0.14,0.404774,NaN,NaN,...,511.471832,11.42,715.40,206.1,2180.4,1631.0,260.8,35.27,83.5,0.9137
1960-02-01,1.63,1.63,1.63,NaN,NaN,NaN,0.14,0.404774,NaN,NaN,...,511.471832,11.42,728.19,203.7,2180.4,1631.0,244.9,35.27,83.5,0.9137
1960-03-01,1.63,1.63,1.63,NaN,NaN,NaN,0.14,0.404774,NaN,NaN,...,511.471832,11.42,684.94,210.3,2173.8,1631.0,248.7,35.27,83.5,0.9137
1960-04-01,1.63,1.63,1.63,NaN,NaN,NaN,0.14,0.404774,NaN,NaN,...,511.471832,11.42,723.11,213.6,2178.2,1631.0,254.6,35.27,83.5,0.9137
1960-05-01,1.63,1.63,1.63,NaN,NaN,NaN,0.14,0.404774,NaN,NaN,...,511.471832,11.42,684.75,213.4,2162.7,1631.0,253.8,35.27,83.5,0.9137